@font-face {
    font-family: 'Century Gothic Bold';
    src: url('../font/Century_Gothic_Bold.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Century Gothic Bold', sans-serif;
    color: white;
    user-select: none;
}

a {
    color: white;
}
